[
  {
    "id": {{ smtp_cred_id | to_json }},
    "name": {{ smtp_cred_name | to_json }},
    "type": "smtp",
    "data": {
      "user": {{ smtp_user | to_json }},
      "password": {{ smtp_password | to_json }},
      "host": {{ smtp_host | to_json }},
      "port": {{ smtp_port | int }},
      "secure": false,
      "disableStartTls": false
    }
  }
]
