[
  {
    "id": {{ cred_id | to_json }},
    "name": {{ cred_name | to_json }},
    "type": "sshPrivateKey",
    "data": {
      "host": "emperor.example.com",
      "port": 22,
      "username": "admin",
      "privateKey": {{ cred_private_key | to_json }},
      "passphrase": ""
    }
  }
]
